<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'showcase:index' %}">PopcornHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" 
                       href="{% url 'showcase:index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'movies/all' in request.path %}active{% endif %}" 
                       href="{% url 'showcase:all-movies' %}">Все фильмы</a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'stats' in request.path %}active{% endif %}" 
                           href="{% url 'showcase:movie-stats' %}">Статистика</a>
                    </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in request.path %}active{% endif %}" 
                           href="{% url 'showcase:profile' %}">Профиль</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Админ панель</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'showcase:logout' %}">Выход</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'login' in request.path %}active{% endif %}" 
                           href="{% url 'showcase:login' %}">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'register' in request.path %}active{% endif %}" 
                           href="{% url 'showcase:register' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> 